.home-card {
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  height: 100%;
}

.home-card:hover {
  border-color: #1b0096;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.disabled-card {
  opacity: 0.5;
}